<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Billing</title>
</head>
   
<body>
    <h1>Base page</h1>
    <br>

    <!-- Link to monthly average page -->
   <div>
        <a class="btn" href="{% url 'bills-avg' %}">To Monthly Average page.</a>
    </div>
    <!-- Link to monthly breakdown page -->
    <div>
        <a class="btn" href="{% url 'bills-mb' %}">To Monthly Breakdown page.</a>
    </div>

    <br>
        
    <div>
        {% if  unpaid.count > 0 %}
        <h1>Pending Bills</h2>
        <table>
            <tr>
                <th>Bill ID</th>
                <th>Bill Notes</th>
                <th>Total Paid</th>
            </tr> 
            <tr>
            {% for car in unpaid %}
                <td>{{car.billID}}</td>
                <td>{{car.notes}}</td>
                <td>${{car.totalPaid}}</td>
            {% endfor %}
            </tr>
        </table>
        {% else %}
        <h1>No pending bills 😀</h2>

        {% endif %}
    </div>

</body>
</html>

