<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Breakdown</title>
</head>
<body>
    <h1>Avergae cost each month</h1>
    <!-- <h2>${{avg.a}}</h2> -->
    
    
    <div class="table" >
        <table class="table">
            <tr>
                <th class="thead">Month</th>
                <th>Averge Paid</th>
            </tr>
            {% for car in avg %}
                <tr>
                    <td>{{car.month}}</td>
                    <td>${{car.a}}</td>
                <tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <!-- Link to home page -->
    <div>
        <a class="btn" href="{% url 'pages/base.html' %}">To Home page.</a>
    </div>
    <!-- Link to monthly breakdown page -->
    <div>
        <a class="btn" href="{% url 'bills-mb' %}">To Monthly Breakdown page.</a>
    </div>

</body>
</html>