<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Breakdown</title>
</head>
<body>
    <h1>This is the monthly summary</h1>

    <br>

    <div class="table" >
        <table class="table">
            <tr>
                <th class="thead">Paid Date</th>
                <th>Total Paid</th>                      
            </tr>
            {% for months in mb %}
                <tr>
                    <td>{{months.month}}</td>
                    <td>${{months.s}}</td>
                <tr>
            {% endfor %}
        </table>
    </div>
    
    <br>

    <br>
    <!-- Link to monthly average page -->
    <div>
        <a class="btn" href="{% url 'bills-avg' %}">To Monthly Average page.</a>
    </div>
</body>
</html>